<%- include('header') %>

<h1>Profile</h1>
<div>
  <p><%= user.name %>
  <p><%= user.username %>
  <p><%= user.phone %>
  <p><%= user.email %>
  <p><%= user.address %>
</div>
<br>
<a href="/">Back to Account Summary</a>

<%- include('footer') %>
